@font-face {
    font-family: "Poppins";
    src: url(../font/Manrope-VariableFont_wght.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    --default-font-family: "Poppins";
    /* colors */

    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);

    /* fonts  */
    --default-font: 1.3rem;

}

button {
    cursor: pointer;
    /* background: var(--Light-Grayish-Blue); */
    border: none;

}

button:hover {
    background: var(--Grayish-Blue);
}

body {
    background-color: var(--Light-Grayish-Blue);
    font-size: var(--default-font);

    color: var(--Very-Dark-Grayish-Blue);
    font-family: var(--default-font-family);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}




.article-preview {
    max-width: 85rem;
    width: 100%;
    display: flex;




}

/***column 1 article image **/
.article-preview__image {
    flex: 0 0 39%;
    border-radius: 1rem 0 0 1rem;
    transition: all ease;
    overflow: hidden;



}

.article-preview__image img:hover {

    transform: scale(1.1);

}

.article-preview__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 25%;

    transition: transform .4s;

}

/*column2 article preview text section */
.article-preview__section {
    flex: 1;
    padding: 2.8rem;
    background: #fff;
    border-radius: 0 .8rem .8rem 0;
    position: relative;

}

.article-preview__text {

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 1.2rem;
    font-size: 1.6rem;

}

.article-preview__text--h2 {
    /* padding-right: .4rem; */

}

.article-preview__text--paragraph {}

/*article preview biography */
.article-preview__biograph {
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;






}

.article-preview__biograph--section {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.article-preview__biograph--img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    object-fit: cover;

}

.article-preview__biograph--h4 {
    display: flex;
    flex-direction: column;
    font-weight: 500;


}

.article-preview__biograph--name {
    color: var(--Very-Dark-Grayish-Blue);


}

.article-preview__biograph--date {
    color: var(--Grayish-Blue);

}


.article-preview__biograph--button {


    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    /* z-index: 100; */
}

.article-preview__biograph--button-popup {

    position: absolute;

    height: 6.5rem;
    border-radius: .8rem;
    width: 30rem;

    background-color: var(--Very-Dark-Grayish-Blue);
    display: flex;
    align-items: center;

    transform: scale(0) translate(0%, -140%);

    justify-content: space-between;

    padding: 2rem;

    transition: transform .4s, visibility .4s;


}

.article-preview__biograph--button-popup::after {
    content: "";
    height: 2rem;
    width: 2rem;
    background-color: blue;
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: rotate(45deg);
    background: var(--Very-Dark-Grayish-Blue);
}

.article-preview__biograph--button:hover path {
    fill: var(--Light-Grayish-Blue)
}


.article-preview__biograph--button-popup a {
    text-decoration: none;
    color: var(--Light-Grayish-Blue);
    font-size: 2rem;
    margin: .5rem;

}

.article-preview__biograph--button-popup a:first-child {
    flex: 1;
    letter-spacing: 1rem;
}

.article-preview__biograph--button-popup a:not(:first-child) {
    flex: 0 0 10%;
}

.article-preview__biograph--button:hover .article-preview__biograph--button-popup {
    transform: scale(1) translate(-4%, -110%);
    visibility: visible;
    transition: transform .4s, visibility .4s;
}

.article-preview__biograph--button-popup-mobile {
    display: none;
}

@media (max-width:33.7em) {

    .article-preview__container {

        max-width: 33.5rem;
        width: 100%;

        overflow: hidden;




    }

    .article-preview {
        flex-direction: column;



    }

    .article-preview__section {
        padding: 2rem;
    }

    .article-preview__image {
        border-radius: unset;
        flex: 0 0 20%;
    }

    .article-preview__text--h2 {
        padding-right: .3rem;
        font-size: 1.6rem;
    }

    .article-preview__text--paragraph {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .article-preview__biograph--button-popup {


        display: none;
 }

    .article-preview__biograph{
padding :0 1.2rem;
    }
     .share__icon {
        color: var(--Grayish-Blue);
        text-decoration: none;
        flex: 0 0 20%;
        letter-spacing: .5rem;
        text-transform: uppercase;

    }

    .article-preview__section {}

    .article-preview__biograph--button-popup-mobile {

        position: absolute;
        width: 100%;
        border-radius: 0;
        background-color: var(--Very-Dark-Grayish-Blue);
        display: flex;
        align-items: center;
        transform: translatey(120%);
        justify-content: space-between;

        left: 0%;


        padding: 2rem 3.2rem;
        border-radius: 0 0 .8rem .8rem;
        transition: transform .3s ease-in;
    }

    .article-preview__biograph--button-popup-mobile .article-preview__biograph--button {
        height: 2.5rem;
        width: 2.5rem;
        background-color: var(--Grayish-Blue);
    }



    .translateup {
        transform: translateY(10%);



    }
}